extends layout

block content
    h1.
        Create new student:
        
    form(role="form")
        div.form-group
            label(for="fName")
                input(type="text", class="form-control", id="fName", placeholder="first name")
        div.form-group
            label(for="sName")
                input(type="text", class="form-control", id="lName", placeholder="last name")
        div.form-group
            label(for="year")
                input(type="text", class="form-control", id="year", placeholder="school year")