extends layout

block content
    h1.
        Create new student:
        
    form(role="form")
        div.form-group
            label(for="sName") Name:
                input(type="text", class="form-control", id="sName", placeholder="name")